
#canvas{
    position:relative;
    top:0vh;
    z-index:-1;
}
.hidden {
    display: none;
  } 
  #main  {
    position: relative;
    top:5vh;
    margin: 5% auto;
    
  }
.your_score{
    margin-bottom:20px;
     width:calc(240px);
     height: 60px;
     text-align: center;
     color: #16a085;
     padding:2px;
    border: 1px solid;
 }
#score {
    position: relative;
    top:-25px;
    font-size: 30px;
 }
 .modul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    left: calc((100vw - 600px)/2 - 67px);
    height: 100%;
    width: 700px;
    background: rgba(0,0,0,0.5);
    text-align: center;
 }
 .diff select{
     margin-bottom:20px;
     width:calc(240px);
     height: 50px;
     text-align: center;
     color: #16a085;
    border: 1px solid;
 }
 .start {
    display:flex;
    flex-direction: column;
    background: rgba(256,256,256,1);
    padding: 40px 50px;
  /*   margin: auto; */
    width: 240px;
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.3);
 }
  .start form input {
   width:calc(240px);
   height: 50px;
    color: #16a085;
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
 }
 .start  form input:hover {
    background: #16a085;
    color: white;
 }