@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#main  {
  position: relative;
  top:9vh;
  margin: 5% auto;
  width: 600px;
  height: 500px;
  background: rgb(244, 255, 247);
  border-radius: 2px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.regi_submit{
    margin-top:5px;
}
.login_submit{
    margin-top: 30px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #222;
  text-align: center;
}

#error{
  display: none;
  position:absolute;
  top:calc(50% - 150px);
  left:calc(50% - 200px);
  height:300px;
  width:400px;
  background-color: rgb(253, 244, 209);

}
#error input{
  width: 70px;
  height:30px;
  position:absolute;
  left:calc(50% - 35px);
  bottom:10%;
  background-color: red;
}
#errImg{
  position: absolute;
  height: 60px;
  width:60px;
  top: calc(20% - 30px);
  left: calc(50% - 30px);
  border-radius: 50%;
  background-image: url('error.png');
  object-fit:contain;
}
#errMsg{
  position: relative;
  color:red;
  font-size: 2vw;
  text-align: center;
  top:40%;
}

/* ######################## */
ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
  }
  
  input[type="radio"][id^="myRadio"] {
    display: none;
  }
  
  label {
    border: 1px solid #fff;
    padding: 2px;
    display: block;
    position: relative;
    margin: 1px;
    cursor: pointer;
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked + label {
    border-color: #ddd;
    border-radius: 50%;
  }
  
  :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(0.5);
    z-index: 2;
  }
  
  :checked + label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
  }


